dist
node_modules
npm-debug.log
**/.DS_Store
.idea/**
.next
dist-backend
e2e/report
backend/main/build
.vscode/launch.json



**/.openapi-generator
**/apis/.gitignore
**/apis/.openapi-generator-ignore
**/apis/git_push.sh

**/apis/**/.gitignore
**/apis/**/.openapi-generator-ignore
**/apis/**/git_push.sh
**/apis/**/.npmignore

frontend/storybook

# Ignore DevSpace cache and log folder
.devspace/
**/tmp
**/coverage.txt
**/coverage.out
**/coverage.html
scripts/dev-prod.js
**/configurationCache.log
**/dryrun.log
**/targets.log

**/__pycache__
manual/output.csv

pythonenv
.mypy_cache
dataset
**/.ipynb_checkpoints
**.ipynb
**.csv

# Ignore the clearml config file
backend-python/segmentation/src/experiments/base_experiment_config.*
backend-python/segmentation/src/experiments/tuning_config.*

gha-creds-*.json